<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    >
    <title>Vue sem node</title>
    <style>
      .quadrado {
        width: 50px;
        height: 50px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <p>{{ msg }}</p>
      <p>
        {{ contador }}
        <button @click="contador--">-</button>
        <button @click="contador++">+</button>
      </p>
      <p>
        Two-way data binding:
        <input
          type="text"
          v-model="nome"
        >
        {{ nome }}
      </p>
      <p></p>
      <div
        class="quadrado"
        :style="defineCorQuadrado"
      ></div>
      <p>
        Informe a cor do quadrado (inglês):
        <input
          type="text"
          v-model="corQuadrado"
        >
      </p>
      <div>
        <p>Todo list</p>
        <input
          type="text"
          @keyup.enter="addTask($event.target.value)"
        >
        <ul>
          <li v-for="task in tasks">{{ task }}</li>
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',

        data: {
          msg: 'Hello, Vue!',
          contador: 0,
          nome: 'Raphael',
          corQuadrado: 'blue',
          tasks: [
            'Correr',
            'Video game',
            'Estudar Vue'
          ]
        },

        methods: {
          addTask: function(newTask) {
            this.tasks.push(newTask);
          }
        },

        computed: {
          defineCorQuadrado: function() {
            return {
              backgroundColor: this.corQuadrado
            }
          }
        }
      })
    </script>
  </body>
</html>
